@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 15px;
}

.ace_active-line {
  background-color: rgb(244, 244, 244) !important;
}

.ace_scroller {
  background-color: rgb(244, 244, 244);
  overflow: hidden;
}

.ace_print-margin {
  display: none;
}